.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin: 20px;
    margin-left: 220px;
}

.large-container {
    margin-left: 130px;
}