.video {
    margin-top: 20px;
}

.video-display-grid {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-gap: 10px;
}

.small-video {
    height: 150px;
}


.video-thumbnail {
    width: 100%;
}

.half-width {
    width: 50%;
    height: 150px;
}

.video-thumbnail img {
    width: 100%;
    border-radius: 5%;
}

.video-thumbnail video {
    width: 100%;
}

.video-description * {
    padding-top: 5px;
    top: 0;
}

.video-description h3 {
    font-weight: 600;
    color: #000;
}

.large-description img {
    width: 20px;
    margin-right: 8px;
}

.large-description span {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.side-description {
    height: 100%;
    margin-left: 10px;
}

.side-description h4 {
    padding-top: 10px;
    font-weight: normal;
}

.large-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.large-description h3 {
    font-size: 24px;
}

.large-video hr {
    margin: 10px 0px;
}

.large-video h3 {
    margin: 10px 0px;
}