.video-display-grid {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 10px;
    margin-right: 2rem;
}

@media (max-width: 1100px) {
    .video-display-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-right: 0;
    }
}